
.wrap__content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 10px;
    background-color: var(--light-green);
}
.content__left {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
    padding-left: 40px;
    color: var(--sea-deep);
    font-size: 21px;
    box-sizing: border-box;
}
.tab__date {
    display: flex;
    padding: 5px 17px;
    margin-bottom: 2px;
}
span {
    border-bottom: 1px dashed #000;
    color: #000;
    padding-bottom: 2px;
}
.tab__wrap {
    display: flex;
    flex-direction: column;
    padding: 7px;
    /* border: 1px solid ; */
    border-radius: 10px;
    background-color: var(--gipsum);

}

.content__rigth {
    display: flex;
    flex-direction: column;
    padding: 75px ;
    opacity: 0.7;
    z-index: 1;
}
.valutes {
    opacity: 0.2 
}

.loading {
    display: flex;
    position: relative;
    width: 100vw;
    height: 70vh;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    color: var(--light-green);
}
.error {
    display: flex;
    flex-direction: column;
    color: var(--sea-deep);
    font-size: 20px;
}
.error p {
    margin-top: 20px;
}
