.tab__wrap {
    display: flex;
    
    color: var(--sea-deep);
    font-size: 21px;
    padding: 3px 10px;
    background-color: var(--gipsum);
}
.tab {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
    box-shadow:  0 1px   rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
.tab:hover {
    font-weight: 700;
}

.item {
    display: flex;
    min-width: 25%;
    justify-content: start;
}
.green {
    color: green;
}
.red {  
    color: red;
}
.toolTip {
    display: none;
    background-color: var(--sea-deep);
    color: var(--gipsum);
    position: absolute;
    padding: 7px 20px;
    border-radius: 10px;
    min-width: 200px;
    text-align: center;
}


