.tab__wrap {
    display: flex;
    color: var(--sea-deep);
    font-size: 21px;
    padding: 3px 10px;
    background-color: var(--gipsum);
}
.tab {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow:  0 1px   rgba(0, 0, 0, 0.09);
    cursor: pointer;
}
.tab:hover {
    font-weight: 700;
}

.item {
    display: flex;
    width: 25%;
    justify-content: start;
}
.green {
    color: green;
}
.red {  
    color: red;
}