


:root {
  --blue-greek: #75B1A9;
  --sea-deep: #4F6457;
  --gipsum: rgb(237, 233, 233);
  --light-green: #ACD0C0;
  --corals: #D9B44A;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3 {
  margin-top: 5px;
}
.wrapper {
  background-color: var(--blue-greek);
  width: 100vw;
  min-height: 100vh;
  font-family: Roboto;
}




